section#main {
    background: #272a33;
}

h2 {
    color: white;
}

iframe{
    overflow:hidden;
}

p {
  color: #ccc;
  margin-bottom: .5em;
}

button {
  background-color: #ff7324;
  border: none;
  padding: 5px 10px;
  color: white;
  margin-bottom: 10px;
}

pre {
  background-color: #24262f;
  padding: 10px;
  color: lightgray;
}
